# Ratgore
# НЕ ИЗМЕНЯТЬ ФАЙЛ ПРИ АПСТРИМЕ/ОБНОВЛЕНИИ.

# C#
/Content.*/** @Odleer @NEirotoXiN00 # Временная строка пока не будет больше ревьюверов

# Ресурсы
/Resources/** @Odleer @NEirotoXiN00 # Временная строка пока не будет больше ревьюверов

# /Resources/Textures/** 
/Resources/Maps/** @Gr-avity
# /Resources/Prototypes/**
# /Resources/Locale/**

# Копирайт
*.md @ReWAFFlution
*.txt @ReWAFFlution
# Resources/**/meta.json @ReWAFFlution
